{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}

      <h1>My Cart</h1>
    {% if total is not 0 %}
      <table> 
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
        </tr>
      {% for product in products_in_cart %}
        <tr>
          <th> <a href="{% url 'website:single_product' product.product.id %}"> {{ product.product }} </a> </th>
          <th> ${{ product.product.price }} </th>
          <th>
            {% if user.is_authenticated %} 
            <form action="{% url 'website:delete_product_from_cart' %}" method="POST">
            {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.product_id }}">
              <input type="hidden" name="order_id" value="{{ product.order_id }}">
              <button>Delete from Cart </button>
            </form> 

            {% endif %}
          </th>
        </tr>
      {% endfor %}
        <tr>
          <th>Total:</th>
          <th> ${{ total }}</th>
        </tr>

      </table>
      {{ orderid }}
      {% if user.is_authenticated %}
      <form action="/checkout/{{ orderid }}/" method="POST">
      <input type="hidden" name="total" value="{{ total }}">
      {% csrf_token %}
          <button>Complete Order</button>
      </form>
      {% endif %}

      {% if user.is_authenticated %}
      <form action="{% url 'website:final_order_view' %}" method="POST">
        <input type="hidden" name="order_id" value="{{ orderid }}">
      {% csrf_token %}
        <button>Cancel Order</button> 
      </form>
      {% endif %}



    {% else %}

    <h3>You have an empty cart!</h3><br><h2>Keep Shopping!!</h2>
    
    {% endif %}

{% endblock %}