{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

{% if user.is_authenticated %}
	{% for pmt_type in adding_payment_types %}
		<form action="{% url 'website:order_confirmation' %}" method="POST">
		{% csrf_token %}
			<input type="hidden" name="payment_type_id" value="{{ pmt_type.id }}">
			<input type="hidden" name="order_id" value="{{ order_id }}">
			Payment Type: {{ pmt_type }} <br />
			Account Number: {{ pmt_type.account_number }} 

    		<button>Select</button>
    	</form>
    {% endfor %}
{% endif %}

{% endblock %}