{% extends 'main.html' %}

{% block content %}

    <hr>
    <h4>Account Information:</h4>
    <br>
    <form action="{% url 'website:edit_settings' %}" method="post">
        {% csrf_token %}
        <h5>First Name:</h5><input type="text" name="first_name" value="{{customer.user.first_name}}"><br>
        <h5>Last Name:</h5><input type="text" name="last_name" value="{{customer.user.last_name}}"><br>
        <h5>Email:</h5><input type="text" name="email" value="{{customer.user.email}}"><br>
        <h5>Phone:</h5><input type="text" name="phone" value="{{customer.phone}}"><br>
        <h5>Street address:</h5><input type="text" name="street_address" value="{{customer.street_address}}"><br><br>
        <input type="submit" class="btn btn-success btn-small" value="Update" />
    </form>

    <a href="{% url 'website:profile' %}">View Profile</a>

{% endblock content %}

