<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                </button>
            </a>
        </li>
        <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
        </li>
        <li class="">
            <a href="/product_types">
            <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Product Categories
            </button>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="">
            <a href="/sell">
            <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sell Products
                </button>
            </a>
        </li>
        <li class="">
            <a href="/profile">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile
                </button>
            </a>
        </li>
        <li class="">
            <a href="{% url 'website:logout' %}">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </a>
        </li>
        {%else%}
        <li class="">
            <a href="/login">Login</a>
        </li>
        <li class="">
            <a href="/register">Register</a>
        </li>
        {%endif%}
        <li class="">
            {% if user.is_authenticated %}
            <a href="/cart">
            {%else%}
            <a href="/login">
            {%endif%}
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
                </button>
            </a>
        </li>
    </ul>
  </div>
</nav>