{% extends 'main.html' %}

{% block content %}

	<hr>
	{% if user.is_authenticated %}
		<h4>Account Information:</h4>
		<p><strong>Username:</strong></p>{{user.username}}
		<p><strong>First Name:</strong></p>{{user.first_name}}
		<p><strong>Last Name:</strong></p>{{user.last_name}}
		<p><strong>Email:</strong></p>{{user.email}}
	{% endif %}

	<br>
	<hr>
	<a class="btn btn-success" href="add_payment_type">Add a Payment Type</a>
	<a class="btn btn-success" href="user_payment_types">View Your Payment Types</a>

{% endblock %}