{% extends 'main.html' %}

{% block content %}

	<hr>
	{% if user.is_authenticated %}
		<h4>Account Information:</h4>
		<br>
		<p><strong>Username:</strong>  {{user.username}}</p>
		<p><strong>First Name:</strong>  {{user.first_name}}</p>
		<p><strong>Last Name:</strong>  {{user.last_name}}</p>
		<p><strong>Email:</strong>  {{user.email}}</p>
		<p><strong>Phone number:</strong>  {{customer.phone}}</p>
		<p><strong>Street address:</strong>  {{customer.street_address}}</p>
		<p><strong>Order History:</strong></p>
		{% for order in past_orders %}
			<button class="btn btn-default"><a href="{% url 'website:order_detail' order.id %}">#{{order.id}}</a></button>
		{% endfor %}
	{% endif %}

	<br>
	<hr>
	<a class="btn btn-success profile-bttn" href="add_payment_type">Add a Payment Type</a>
	<a class="btn btn-success prifile-bttn" href="user_payment_types">View Your Payment Types</a><br>
		
	<form id="update_form" method="post" action="{% url 'website:edit_settings' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
	<button class="btn btn-info profile-bttn" type="submit" >Update Profile</button>
	</form>

{% endblock %}