{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}
    <h3>Single Product Views</h3>

    <ul>

      <li>Title: {{ product.title }}</li>
      <li>Description: {{ product.description }}</li>
      <li>Quantity Available: {{ product.quantity }}</li>
      <li>Price/Unit: {{ product.price }}</li>      
    </ul>

    {% if user.is_authenticated %}
    <form action="/add_to_cart/{{product.id}}/" method="POST">
    {% csrf_token %}
        <button>Add to Cart</button>
    </form>
    {% endif %}

{% endblock %}