{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

    <h3> <a href="/profile"><u>{{ user.username}}'s</u></a> Products</h3>


	<ul>
	    {% if user.is_authenticated %}
		{% for product in user_products %}
		    <li>
                <a href="{% url 'website:single_product' product.id %}">{{ product.title }} - {{ product.description|truncatewords:8 }}</a>
                <button class="btn btn-danger btn-med">Delet.This</button>
            </li> 
		    <br>
		    
		{% empty %}
		    
	    {% endfor %}
	</ul>     

	    	<a class="btn btn-default" href="/sell">Sell Another Product</a>

		{% endif %}


{% endblock %}
