{% extends 'main.html' %}

{% block content %}

{% load staticfiles %}

    <h3> {{ user.username}} Products</h3>


	<ul>
	    {% if user.is_authenticated %}
		{% for product in user_products %}
		    <li>Product: <a href="{% url 'website:single_product' product.id %}">{{ product.title }}</a></li> 
		    <li>Description: {{ product.description }}</li>
		    <li>Type: {{ product.product_type }}</li>
		    <li>Cost: {{ product.price }}
		    <li>Inventory: {{ product.quantity }} - Products Sold: {{ product.quantity_sold }}</li>
		    <br />
		{% empty %}
		    
	    {% endfor %}
	</ul>

	    	<a class="btn btn-default" href="/sell">Sell Another Product</a>

		{% endif %}


{% endblock %}
