body {
	background-color: #e0f7fa;
	padding: 10px;
}

hr {
	border-color: grey;
}

.payment-type-line {
	display: inline;
}

.cart-line-item {
	padding: 20px;
	border-bottom: 2px dotted black;
}

.nav .btn {
	margin-right: 1px !important;
}